<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{169,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,117}}</string>
                <key>sourceSize</key>
                <string>{169,117}</string>
            </dict>
            <key>dog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{185,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,113}}</string>
                <key>sourceSize</key>
                <string>{185,113}</string>
            </dict>
            <key>dog_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{187,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,102}}</string>
                <key>sourceSize</key>
                <string>{187,102}</string>
            </dict>
            <key>dog_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,172},{172,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,112}}</string>
                <key>sourceSize</key>
                <string>{172,112}</string>
            </dict>
            <key>dog_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{168,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,116}}</string>
                <key>sourceSize</key>
                <string>{168,116}</string>
            </dict>
            <key>dog_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,381},{174,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,116}}</string>
                <key>sourceSize</key>
                <string>{174,116}</string>
            </dict>
            <key>dog_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,190}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,190}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dog_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,138},{104,148}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,40},{104,148}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dog_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{160,134}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{160,134}}</string>
                <key>sourceSize</key>
                <string>{250,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8543bc9cd69a0f9e4a97ef7461a9a8d$</string>
            <key>textureFileName</key>
            <string>dog.png</string>
        </dict>
    </dict>
</plist>
