<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck_black_flying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>duck_black_flying_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>duck_black_flying_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{93,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{93,98}</string>
            </dict>
            <key>duck_black_flying_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,97},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>duck_black_flying_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,97},{35,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,91}}</string>
                <key>sourceSize</key>
                <string>{35,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duck_black_flying.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:151f1fc78b12631484cf136951bfca9c:1/1$</string>
            <key>textureFileName</key>
            <string>duck_black_flying.png</string>
        </dict>
    </dict>
</plist>
