<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fallson_flying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fallson_flying_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fallson_flying_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fallson_flying_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fallson_flying_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{296,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fallson_flying.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d17ee1d6f134da8b37082cafe63e8557$</string>
            <key>textureFileName</key>
            <string>fallson_flying.png</string>
        </dict>
    </dict>
</plist>
